@model CarRentalMVCApplication.ViewModels.NewCustomerViewModel
@{
    ViewBag.Title = "CustAndCarForm";
}
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <h2 style="color:white">Customer Record</h2>
    <br />
}
else
{
    <h2 style="color:white">My Record</h2>
    <br />
}


<button class="btn btn-primary">
    @Html.ActionLink("Add Car ", "CarForm", "Car", Model.User,
                            new { @style = "color:white;text-decoration:none" })
</button>


<div class="jumbotron" style="margin-top:40px;">
    <table class="table table-hover" style="background-color:white">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>@Model.User.FirstName</td>
            <td>@Model.User.LastName</td>
            <td>@Model.User.PhoneNumber</td>
            <td>@Model.User.Email</td>
        </tr>
    </table>
</div>

<div class="jumbotron">
    <table class="table table-hover" style="background-color:white">
        <tr>
            <th>VIN</th>
            <th>Make</th>
            <th>Model</th>
            <th>Style</th>
            <th>Color</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var c in Model.Cars)
        {
            if (c.UserId == Model.User.Id)
            {
                <tr>
                    <td>@c.VIN</td>
                    <td>@c.Make</td>
                    <td>@c.Model</td>
                    <td>@c.Style</td>
                    <td>@c.Color</td>
                    <td class="col-md-4">
                        @Html.ActionLink("View Service", "AddNewServices", "Car", c, new { @class = "btn btn-primary", @style = "color: white; text-decoration:none" })
                        @Html.ActionLink("Edit", "EditForm", "Car", c, new { @class = "btn btn-success", @style = "color: white; text-decoration:none" })
                        @Html.ActionLink("Delete", "Delete", "Car", new { c.Id }, new { @class = "btn btn-danger", @style = "color: white; text-decoration:none" })
                    </td>

                </tr>
            }

        }

    </table>
</div>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <button class="btn btn-primary">
        @Html.ActionLink("Back", "Index", "Customer",
                                     new { @style = "color:white;text-decoration:none" })
    </button>
}
