@model CarRentalMVCApplication.ViewModels.SearchBarViewModel
    @using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
}
<div style=" width:150px">
    <h1 style="color:white">Customers</h1>
</div>

@*<button class="btn btn-primary">
        @Html.ActionLink("Create New Customer ", "CustForm", null,
                         new { @style = "color:white;text-decoration:none" })
    </button>*@
<div style="float:right">
    @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
    {
        <div style="color:white">
            <p>
                Search By:
                @Html.RadioButton("option", "First name")First Name
                @Html.RadioButton("option", "Email")Email
                @Html.RadioButton("option", "PhoneNumber")Phone Number
            </p>

            <p>
                @Html.TextBox("Search")
                <button class="btn btn-primary" type="submit">Search</button>
            </p>
        </div>

    }
    <br />
    <br />
    <br />
</div>

<div class=" container" style="clear:both; margin-top: 70px">
    <div class="jumbotron">
        @if (!Model.Users.Any())
        {
            <h4>No Customer Found</h4>}

        else
        {
            <table class="table table-striped table-hover">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th></th>

                </tr>
                @foreach (var c in Model.Users)
                {
                    if (User.Identity.GetUserId() == c.Id)
                    {

                    }
                    else
                    {
                        <tr>
                            <td>@c.FirstName</td>
                            <td>@c.LastName</td>
                            <td>@c.PhoneNumber</td>
                            <td>@c.Email</td>

                            <td class="col-md-3">
                                @*@if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                    {*@
                                @Html.ActionLink(" Edit", "CustForm", c, new { @class = "btn btn-success", @style = "color: white; text-decoration:none" })
                                @Html.ActionLink("View Car", "CustAndCarForm", c, new { @class = "btn btn-primary", @style = "color: white; text-decoration:none" })
                                @Html.ActionLink(" ", "Delete", new { c.Id }, new { @class = "btn btn-danger fa fa-trash", @style = "color: white; text-decoration:none" })
                                @*}
                                    else
                                    {*@
                                @*@Html.ActionLink(" Edit", "CustForm", c, new { @class = "btn btn-success", @style = "color: white; text-decoration:none" })
                                    @Html.ActionLink("View Car", "CustAndCarForm", c, new { @class = "btn btn-primary", @style = "color: white; text-decoration:none" })
                                    }*@
                            </td>
                        </tr>
                    }
                }
            </table>

        }
    </div>

</div>
